body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  margin-bottom: 25px;
}

.card-img-top {
  height: 272px;
  object-fit: cover;
  object-position: center;
}
.card:hover {
  background-color: #e7e7e7;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.course-instructor:before {
  content: "~ "
}

.course-instructor{
  font-style: italic;
}
.course-title{
  height: 50px;
  overflow: scroll;
}

.course-description{
  height: 70px;
  overflow: scroll;
}

.border-top {
  border-top: var(--bs-border-width) var(--bs-border-style) #139cb9 !important;
}